Source: casasynthesis
Priority: optional
Maintainer: Gijs Molenaar <Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>>
Build-Depends: debhelper (>= 8.0.0), cmake, libcasacore2-dev (>= 2.0.3), gfortran, libboost-dev,
 libboost-regex-dev, libboost-program-options-dev, libboost-filesystem-dev,
 libboost-thread-dev, libboost-serialization-dev, libboost-system-dev, libcfitsio3-dev,
 libx11-dev, libfftw3-dev, libblas-dev, liblapack-dev, libgsl0-dev, pkg-config,
 libxml2-dev, libncurses5-dev, libdbus-c++-dev, libdbus-1-dev, libreadline-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/radio-astro/casasynthesis

Package: casasynthesis-dev
Section: libdevel
Architecture: any
Depends: casasynthesis1 (= ${binary:Version})
Description: The synthesis CASA 4.4 submodule as a standalone project
 development headers only

Package: casasynthesis1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The synthesis CASA 4.4 submodule as a standalone project
 library files only
